APP_ENV=dev
COOKIE_SECRET=uxoOBPatL7rY2nbtS6AlHg
SUPERADMIN_USERNAME=michael_jackson
SUPERADMIN_PASSWORD=f3zx2y5z00tkgpez5rvbt66quc4ncpx1
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vendure
DB_USERNAME=admin
DB_PASSWORD=Ai3xHFHnTTC5VrgLqB4Y
DB_SCHEMA=public
DB_CA_CERT=
RUN_JOB_QUEUE_FROM_SERVER=false
ASSET_UPLOAD_DIR=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT=
